@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}
@tailwind components;
@tailwind utilities;

:root {
  --main-accent-color: #66bb6a;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Checkbox styles */
/* from: https://codepen.io/AllThingsSmitty/pen/WjZVjo */
.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.round label:after {
  border: 2px solid #111;
  border-top: none;
  border-right: none;
  content: "";
  height: 8px;
  width: 16px;
  opacity: 0;
  position: absolute;
  left: 3px;
  top: 0px;
  transform: rotate(-45deg);
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: var(--main-accent-color);
  border-color: var(--main-accent-color);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
